body {
    background-color: #000000;
    color: #fefefe;
    margin-top: 10px;
    margin-bottom: 100px;
}

.featureText {
    font-family: 'Turbinado Pro Bold';
}

.primaryText {
    font-family: 'Inter';
}
