.Information {
    font-size: 18px;
    margin: 150px 0;
    width: 85%;
}

.flexTogether {
    display: flex;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    color: #fefefe;
}

i {
    font-size: 40px !important;
    padding-right: 20px;
    text-decoration: none;
}

a {
    color: white;
}

@media (max-width: 800px) {
    .Information {
        font-size: 12px;
        margin: 60px 0;
    }

    i {
        font-size: 25px !important;
    }

    .introductionImage {
        padding-bottom: 10px;
    }

    .infoContainer {
        margin-top: 20px;
    }
}
