.menuBar {
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: #efefef;
}

.navBtn {
    background-image: url('./assets/coffee-beans.jpg');
    color: #efefef;
    border-radius: 40px;
    padding: 2px 15px;
    text-decoration: none;
    margin: 5px;
    font-family: 'Inter';
    font-size: 15px;
}

.Hero {
    width: 100%;
    height: 450px;
    background-image: url('./assets/video.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Turbinado Pro Bold';
    font-size: 80px;
    text-align: center;
    padding-top: 90px;
    text-shadow: 2px 2px #ff0000;
}

@media (max-width: 800px) {
    .Hero {
        height: 200px;
    }

    h1 {
        font-size: 50px;
        padding: 30px;
    }
}
