.menuBar {
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: #efefef;
}

.navBtn {
    border: solid 1px #fefefe;
    color: #efefef;
    border-radius: 40px;
    padding: 2px 15px;
    text-decoration: none;
    margin: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.Hero {
    width: 100%;
    height: 450px;
    background-image: url('./assets/video.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Turbinado Pro Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 95px;
    text-shadow: 2px 2px #ff0000;
}

.extraInfo {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 44px;
    background-color: #fefefe;
    opacity: 0.6;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #0e0e0e;
    font-weight: 200;
}

.productIcon {
    width: 35px;
    height: auto;
}

#information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    color: rgb(22, 21, 21);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.attLink {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media (max-width: 800px) {
    .Hero {
        height: 150px;
    }

    h1 {
        font-size: 30px;
        padding: 30px;
    }

    .extraInfo {
        font-size: 16px;
        bottom: 25px;
    }

    .productIcon {
        width: 20px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .extraInfo {
        font-weight: 300px;
    }
}
